<h1>Tanks#new</h1>
<%= form_with scope: :tank, url: tanks_path, local: true do |form| %>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', tanks_path %>
